
$primary: #E36224;
$secondary: #162C38;
$tertiary: #243F4E;
$white: #fff;
$lightGrayLight: #eee;
$lightGrayDark: #ccc;
$mediumGrayLight: #999;
$mediumGrayDark: #666;
$darkGrayLight: #333;
$darkGrayDark: #212121;
$black: #1C1C1C;

$text-color: #212121;